/* ================= FONTS ================= */
.fraunces-bold {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}

.fraunces-black {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}

.barlow-semibold {
  font-family: "Barlow", serif;
  font-weight: 600;
  font-style: normal;
}

/* ================= GENERAL ================= */
html {
  scroll-behavior: smooth;
}
body {
  color: #808397;
  font-size: 18px;
}

.fbx {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 1440px;
  margin-inline: auto;
}

/* ================= HEADER ================= */
header {
  background-image: url(../images/desktop/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;

  height: 100vh;
  padding: 34px 44px 0 44px;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12%;

  div.fbx {
    width: 100%;
    justify-content: space-between;
  }

  ul.fbx {
    justify-content: space-between;
    align-items: center;
    column-gap: 47px;
    a {
      line-height: 25px;
      letter-spacing: -0.13px;

      color: #ffffff;
    }
    li:last-child {
      background-color: #ffffff;
      border-radius: 28px;
      height: 56px;
      min-width: 140px;
      text-align: center;
      overflow: hidden;

      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: rgba(255, 255, 255, 0.25);
        a {
          color: #ffff;
        }
      }
    }
    li:last-child a {
      font-size: 15px;
      letter-spacing: -0.1px;
      text-transform: uppercase;
      color: #24303e;

      width: 100%;
      height: inherit;
      display: flex;
      align-items: center;
      justify-content: center;

      transition: color 0.2s ease-in-out;
    }
  }

  h1 {
    font-size: 56px;

    letter-spacing: 8.75px;
    text-transform: uppercase;

    color: #ffffff;
  }
  & > a {
    display: inline-block;
    background-image: url(../images/icons/icon-arrow-down.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 36px;
    height: 114px;
  }
}

/* ================= MAIN ================= */

main {
  /* ================= ABOUT ================= */
  section.about {
    display: flex;
    flex-direction: column;

    article {
      display: flex;
      flex-wrap: wrap;

      .info {
        flex: 1 0 50%;
        padding: 158px 110px 157px 165px;
      }

      h2,
      a {
        font-family: "Fraunces", serif;
        font-style: normal;
        color: #24303e;
        font-weight: 900;
      }

      h2 {
        margin-bottom: 32px;
        font-weight: 900;
        font-size: 40px;
        line-height: 49px;
        letter-spacing: -0.3px;
      }

      p {
        margin-bottom: 40px;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: -0.12px;
        min-width: 300px;
      }

      a {
        display: inline-block;
        text-align: center;
        min-width: 137px;

        font-size: 15px;
        line-height: 25px;
        letter-spacing: 1px;
        text-transform: uppercase;

        background-repeat: no-repeat;
        background-position: center bottom;

        transition: background 0.3s ease-in-out;

        &.yellow {
          background-image: url(../images//icons/yellow-line.svg);
          &:hover {
            background-image: url(../images//icons/yellow-line-hover.svg);
          }
        }
        &.pink {
          background-image: url(../images//icons/pink-line.svg);
          &:hover {
            background-image: url(../images//icons/pink-line-hover.svg);
          }
        }
      }
      .bg {
        flex: 1 0 50%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        min-height: 600px;

        &.bg-yellow {
          background-image: url(../images/desktop/image-transform.jpg);
        }
        &.bg-pink {
          background-image: url(../images/desktop/image-stand-out.jpg);
          order: -1;
        }
      }
    }
  }

  /* ================= SERVICES ================= */
  section.services {
    display: flex;
    flex-wrap: wrap;

    article {
      min-height: 600px;
      display: flex;
      flex: 1 0 50%;
      align-items: flex-end;
      justify-content: center;

      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      text-align: center;

      div {
        /* padding: 0 190px 59px 191px; */
        width: 340px;
      }

      &:first-child {
        background-image: url(../images/desktop/image-graphic-design.jpg);
      }
      &:last-child {
        background-image: url(../images/desktop/image-photography.jpg);
      }
    }

    h2 {
      font-family: "Fraunces", serif;
      font-weight: 900;
      font-size: 28px;
      line-height: 35px;
      letter-spacing: -0.2px;
      color: #24554a;
      margin-bottom: 27px;
    }
    p {
      font-size: 16px;
      line-height: 27px;
      letter-spacing: -0.11px;

      color: #3e7467;
      margin-bottom: 59px;
    }
  }

  section.testimonials {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 81px;

    padding-inline: 165px;
    padding-block: 160px;
    text-align: center;

    h2 {
      font-family: "Fraunces", serif;
      text-transform: uppercase;
      font-weight: 900;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: 5px;
      color: #a7aaad;
    }
    div {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;

      article {
        letter-spacing: -0.12px;
        font-size: 18px;
        img {
          width: 72px;
          height: 72px;
          border-radius: 50%;
          margin-bottom: 58px;
        }
        p {
          line-height: 32px;
          color: #5b636d;

          &:nth-of-type(1) {
            max-width: 350px;
            min-width: 200px;
          }

          &.name {
            font-family: "Fraunces", serif;
            font-weight: 900;
            line-height: 22px;
            color: #24303e;

            margin-top: 58px;
            margin-bottom: 9px;
          }

          &:last-child {
            font-size: 14px;
            line-height: 25px;
            letter-spacing: -0.1px;
            color: #a7aaad;
          }
        }
      }
    }
  }
}

/* ================= FOOTER ================= */
footer {
  section.projects {
    display: flex;
    div {
      display: flex;
      flex: 1 1 360px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  section.contacts {
    min-height: 350px;
    background-color: #90d4c6;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a img {
      width: 170px;
    }

    ul {
      display: flex;
      flex-direction: row;
      gap: 57px;

      margin-block: 40px 88px;

      li a {
        font-size: 18px;
        line-height: 25px;
        letter-spacing: -0.12px;
        color: #458d7e;
        transition: color 0.2s ease-in-out;
        &:hover {
          color: #fff;
        }
      }
    }

    div.social {
      display: flex;
      gap: 28px;
      align-items: center;

      a {
        cursor: pointer;

        path {
          transition: fill 0.2s ease-in-out;
        }
        &:hover svg path {
          fill: #fff;
        }
      }
    }
  }
}

@media (max-width: 1165px) {
  .bg-yellow {
    order: -1;
  }
}

@media (max-width: 950px) {
  section.projects {
    div {
      flex-direction: column;
    }
  }
}
